body {
    background: -webkit-linear-gradient(90deg, rgb(244, 250, 68), rgb(182, 82, 82));
    background: -moz-linear-gradient(90deg, rgb(244, 250, 68), rgb(182, 82, 82));
    background: linear-gradient(90deg, rgb(244, 250, 68), rgb(182, 82, 82));
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}