body {
    background: -webkit-linear-gradient(90deg, rgb(245, 63, 68), rgb(244, 250, 68));
    background: -moz-linear-gradient(90deg, rgb(245, 63, 68), rgb(244, 250, 68));
    background: linear-gradient(90deg, rgb(245, 63, 68), rgb(244, 250, 68));
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}
