body {
    background: -webkit-linear-gradient(90deg, rgb(68, 242, 131), rgb(28, 107, 197));
    background: -moz-linear-gradient(90deg, rgb(68, 242, 131), rgb(28, 107, 197));
    background: linear-gradient(90deg, rgb(68, 242, 131), rgb(28, 107, 197));
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}
