body {
    background: -webkit-linear-gradient(90deg, rgb(28, 108, 197), rgb(183, 64, 255));
    background: -moz-linear-gradient(90deg, rgb(28, 108, 197), rgb(183, 64, 255));
    background: linear-gradient(90deg, rgb(28, 108, 197), rgb(183, 64, 255));
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}
