<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
            href="../static/css/base.css">
    {% block head %}
    {% endblock %}
    <title>{{title}}</title>
</head>
<body>
<header>
<nav class="nav">
    <a class="nav__link" href="/">Обычные</a>
    <a class="nav__link" href="/rare">Редкие</a>
    <a class="nav__link" href="/super_rare">Сверхредкие</a>
    <a class="nav__link" href="/epic">Эпические</a>
    <a class="nav__link" href="/mythical">Мифические</a>
    <a class="nav__link" href="/legendary">Легендарные</a>
    <a class="nav__link" href="/chromatic">Хроматические</a>
</nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>